Repository optimagic-dev/optimagic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

doc8:
  entry: doc8
  language: system
  name: doc8 - Lint the documentation.

restructuredtext-lint:
  entry: rst-lint
  language: system
  name: restructuredtext-lint - Is the README PyPi-compliant?

Add gif to dashboard documentation.
  docs/source/optimization/dashboard.rst
Due: doc8

Add gif to README.
  README.rst
Due: doc8, restructuredtext-lint

Working on getting the path right.
  README.rst
Due: doc8, restructuredtext-lint

Second try to get the path right.
  README.rst
Due: doc8, restructuredtext-lint

Five tries at once.
  README.rst
Due: doc8, restructuredtext-lint

More tries.
  README.rst
Due: doc8, restructuredtext-lint

Adjusted syntax to restructuredText.
  README.rst
Due: doc8, restructuredtext-lint

Need to turn off logging explicitly for parallel opts.
  estimagic/tests/conftest.py
  estimagic/tests/optimization/test_parallel_optimizations.py
Due: none

Work on alignment and sizing.
  README.rst
Due: doc8, restructuredtext-lint

Try table to make figure float.
  README.rst
Due: doc8, restructuredtext-lint

Work on figure size.
  README.rst
Due: doc8, restructuredtext-lint

Gave up on getting to nice columns.
  README.rst
Due: doc8, restructuredtext-lint

Add comparison plot next to dashboard for layout and add text on estimagic's contributions to put images into context.
  README.rst
  docs/source/images/comparison_plot.html
  docs/source/images/comparison_plot_static.png
Due: doc8, restructuredtext-lint

Finetuning on github.
  README.rst
Due: doc8, restructuredtext-lint

More github fine tuning.
  README.rst
Due: doc8, restructuredtext-lint

Finishing up.
  README.rst
Due: doc8, restructuredtext-lint

Real gradient and status logging.
  estimagic/decorators.py
  estimagic/differentiation/differentiation.py
  estimagic/logging/create_database.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
Due: none

Numbering of gradient evaluations if no total number is defined. Existing tables are extended.
  estimagic/decorators.py
  estimagic/logging/create_database.py
  estimagic/optimization/optimize.py
Due: none

Better docstring and draft for logging opt status.
  estimagic/decorators.py
Due: none

Only NumPy interfaces and end-of-file-fixer.
  .pre-commit-config.yaml
  README.rst
  conda_build_config.yaml
  docs/Makefile
  docs/source/_static/css/custom.css
  docs/source/contributing/styleguide.rst
  docs/source/differentiation/differentiation.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/introduction.rst
  docs/source/optimization/algorithms.rst
  docs/source/optimization/params.rst
  docs/source/refs.bib
  estimagic/optimization/optimize.py
  estimagic/optimization/pounders.py
  estimagic/optimization/pygmo.py
  estimagic/optimization/scipy.py
  estimagic/tests/optimization/test_pounders.py
  setup.cfg
Due: doc8, restructuredtext-lint

better docstrings and started docs.
  docs/source/api/optimize.rst
  docs/source/contributing/how-to-add-an-optimizer.rst
  docs/source/contributing/index.rst
  docs/source/optimization/algorithms.rst
  estimagic/optimization/pounders.py
  estimagic/optimization/pygmo.py
  estimagic/optimization/scipy.py
Due: doc8

Fixed tests.
  estimagic/tests/optimization/test_pounders.py
Due: none

Finished docs and fixed naming.
  docs/source/api/optimize.rst
  docs/source/contributing/how-to-add-an-optimizer.rst
  estimagic/optimization/optimize.py
  estimagic/optimization/pounders.py
  estimagic/optimization/pygmo.py
  estimagic/optimization/scipy.py
Due: doc8

Included suggestions.
  estimagic/optimization/optimize.py
  estimagic/optimization/pounders.py
  estimagic/optimization/pygmo.py
  estimagic/optimization/scipy.py
  estimagic/tests/optimization/test_pounders.py
Due: none

Changes.
  docs/source/contributing/how-to-add-an-optimizer.rst
Due: doc8

Fixed bounds.
  estimagic/optimization/scipy.py
Due: none

Refactor interfaces for minimization. (#103)
  .pre-commit-config.yaml
  README.rst
  conda_build_config.yaml
  docs/Makefile
  docs/source/_static/css/custom.css
  docs/source/api/optimize.rst
  docs/source/contributing/how-to-add-an-optimizer.rst
  docs/source/contributing/index.rst
  docs/source/contributing/styleguide.rst
  docs/source/differentiation/differentiation.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/introduction.rst
  docs/source/optimization/algorithms.rst
  docs/source/optimization/params.rst
  docs/source/refs.bib
  estimagic/config.py
  estimagic/optimization/optimize.py
  estimagic/optimization/pounders.py
  estimagic/optimization/pygmo.py
  estimagic/optimization/scipy.py
  estimagic/tests/optimization/test_pounders.py
  setup.cfg
Due: doc8, restructuredtext-lint

Move credits from README to documentation.
  README.rst
  docs/source/contributing/credits.rst
  docs/source/credits.rst
  docs/source/index.rst
Due: doc8, restructuredtext-lint

Display fitness as criterion. Improvements in sizing and minor aesthetics.
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/plotting_functions.py
Due: none

Remove images that are no longer used.
  docs/source/images/comparison_plot.html
  docs/source/images/comparison_plot_static.png
Due: none

Remove credits duplicate.
  docs/source/contributing/credits.rst
Due: doc8

Rewrite key features.
  README.rst
Due: doc8, restructuredtext-lint

Bump version.
  docs/source/conf.py
  estimagic/__init__.py
  setup.cfg
  setup.py
Due: none

Add tests for different ways constraints may be specified. (#96)
  estimagic/tests/optimization/test_process_arguments.py
Due: none

Added exception handler as decorator which applies a penalty for all exceptions except systemexit and Keyboradinterrupt.
  estimagic/config.py
  estimagic/decorators.py
  estimagic/optimization/optimize.py
  estimagic/optimization/scipy.py
Due: none

Gradient for pygmo.
  estimagic/decorators.py
  estimagic/optimization/optimize.py
  estimagic/optimization/pygmo.py
Due: none

crit val to general options.
  estimagic/optimization/optimize.py
Due: none

Path conditions:
  doc8: any of: \.rst$, but not: (?x)^(
    .pytest_cache |
    .tox
)$

  restructuredtext-lint: any of: (README.rst), but not: (?x)^(
    .pytest_cache |
    .tox
)$

