Repository optimagic-dev/optimagic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

doc8:
  entry: doc8
  language: system
  name: doc8 - Lint the documentation.

restructuredtext-lint:
  entry: rst-lint
  language: system
  name: restructuredtext-lint - Is the README PyPi-compliant?

Fix versions in rtd environment to reduce memory consumption.
  docs/source/rtd_environment.yml
Due: none

Add documentation notebooks (#91)
  .gitignore
  docs/source/optimization/constraints/constraints.ipynb
  docs/source/optimization/constraints/selecting_parameters.ipynb
  docs/source/rtd_environment.yml
Due: none

Remove sandbox again.
  environment.yml
  estimagic/sandbox/minimize_example.ipynb
Due: none

Some small fixes mentioned in pull request.
  environment.yml
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
  tox.ini
Due: none

restructured process_parameters. Only one dict for the arguments is used now.
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
Due: none

Fix typo.
  environment.yml
  estimagic/optimization/process_arguments.py
Due: none

Fix small bugs.
  estimagic/optimization/check_constraints.py
  estimagic/optimization/consolidate_constraints.py
  estimagic/optimization/process_constraints.py
Due: none

Increase version number.
  setup.py
Due: none

Moved transpose in process_arguments.
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
Due: none

Improve docstring of check_constraints_are_satisfied.
  estimagic/optimization/check_constraints.py
Due: none

Multiple parallel optimizations (#77)
  docs/source/visualization/comparison_plot_demo.ipynb
  environment.yml
  estimagic/differentiation/differentiation.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
  estimagic/tests/differentiation/test_differentiation.py
  estimagic/tests/inference/test_moment_covs.py
  estimagic/tests/optimization/test_optimize.py
  estimagic/tests/optimization/test_parallel_optimizations.py
  tox.ini
Due: none

Adjustments Needed for Skillmodels + Bug Fixes (#92)
  estimagic/optimization/check_constraints.py
  estimagic/optimization/consolidate_constraints.py
  estimagic/optimization/process_constraints.py
  setup.py
Due: none

Add citation.
  README.rst
Due: doc8, restructuredtext-lint

Replace params Series with DataFrame.
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/server_functions.py
  estimagic/examples/logit.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/tests/optimization/test_parallel_optimizations.py
Due: none

Plot true criterion value instead of negative for maximizations. Closes #55.
  estimagic/optimization/optimize.py
Due: none

Fix incorrect display of the HoverTool by replacing - with _ in the parameter names.
  estimagic/optimization/utilities.py
Due: none

Add citation. (#93)
  README.rst
Due: doc8, restructuredtext-lint

Update estimagic/examples/logit.py
  estimagic/examples/logit.py
Due: none

Simplify logit example according to Tobias' suggestion.
  estimagic/examples/logit.py
Due: none

Various cahnges.
  CHANGES.rst
  README.rst
  docs/source/changes.rst
  docs/source/conf.py
  docs/source/how-to-maintain.rst
  docs/source/index.rst
  release.py
Due: doc8, restructuredtext-lint

more changes.
  docs/source/faq.rst
  docs/source/index.rst
Due: doc8

Move to ose.
  docs/source/how-to-maintain.rst
Due: doc8

Correct download source on Anaconda.
  CHANGES.rst
  README.rst
  docs/source/how-to-maintain.rst
Due: doc8, restructuredtext-lint

Move maximization entry to general_options instead of having it temporarily in criterion_kwargs.
  estimagic/optimization/optimize.py
Due: none

small change.
  docs/source/rtd_environment.yml
Due: none

Update release.py.
  release.py
Due: none

Update index.rst.
  docs/source/index.rst
Due: doc8

Update ordered logit example to current signature.
  docs/source/getting_started/ordered_logit_example.ipynb
Due: none

Fix bug in process_optimization_arguments.
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
Due: none

Add first test for process_arguments.
  estimagic/tests/optimization/test_process_arguments.py
Due: none

Add tests for multiple optimizations and non standard inputs.
  estimagic/tests/optimization/test_process_arguments.py
Due: none

Miscellaneous small improvements (#94)
  docs/source/getting_started/ordered_logit_example.ipynb
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/server_functions.py
  estimagic/examples/logit.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_arguments.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/utilities.py
  estimagic/tests/optimization/test_parallel_optimizations.py
  estimagic/tests/optimization/test_process_arguments.py
Due: none

Add tests for different ways constraints may be specified.
  estimagic/tests/optimization/test_process_arguments.py
Due: none

Added force flag to upload.
  release.py
Due: none

Added bump2version and corrected version strings.
  docs/source/conf.py
  environment.yml
  estimagic/__init__.py
  setup.cfg
  setup.py
Due: none

Move estimagic to OSE on Anaconda and add new release.py. (#95)
  CHANGES.rst
  README.rst
  docs/source/changes.rst
  docs/source/conf.py
  docs/source/faq.rst
  docs/source/getting_started/installation.rst
  docs/source/index.rst
  docs/source/rtd_environment.yml
  environment.yml
  estimagic/__init__.py
  meta.yaml
  release.py
  setup.cfg
  setup.py
  tox.ini
Due: doc8, restructuredtext-lint

imporved docstring
  estimagic/optimization/pounders.py
Due: none

Add database functions and tests.
  environment.yml
  estimagic/logging/__init__.py
  estimagic/logging/create_database.py
  estimagic/logging/read_database.py
  estimagic/logging/update_database.py
  estimagic/tests/logging/__init__.py
  estimagic/tests/logging/test_database_functions.py
  meta.yaml
  tox.ini
Due: none

Incorporate feedback.
  estimagic/logging/create_database.py
  estimagic/logging/read_database.py
  estimagic/logging/update_database.py
Due: none

Estimation with Pounders runnning with dashboard.
  environment.yml
  estimagic/optimization/optimize.py
  estimagic/optimization/pounders.py
  estimagic/tests/optimization/test_pounders.py
Due: none

Path conditions:
  doc8: any of: \.rst$, but not: (?x)^(
    .pytest_cache |
    .tox
)$

  restructuredtext-lint: any of: (README.rst), but not: (?x)^(
    .pytest_cache |
    .tox
)$

